.itemLink{
  flex: 0 0 49.5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #363232;
  border-radius: 16px;
  height: 400px;
  margin-bottom: 12px;
  position: relative;
}
.itemBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image{
  height: 200px;
}
.hoveredImage{
  height: 240px;
}
.overlayText{
  position: absolute;
  z-index: 2;
  font-size: 60px;
  color: #363232;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .overlayText{
    font-size: 48px;
  }
  .image{
    height: 160px;
  }
  .hoveredImage{
    height: 200px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 765px) {
  .itemLink{
    flex: 0 0 100%;
    margin-bottom: 14px;
    height: 340px;
  }
  .overlayText{
    font-size: 41px;
  }
  .image{
    height: 130px;
  }
  .hoveredImage{
    height: 145px;
  }

}
