.addButton{
  width: 50%;
  height: 60px;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-size: 19px;
  background-color: #363232;
  color: #f0f0f0;
  border: none;
  padding: 12px;
  margin-top: 40px;
  cursor: pointer;
}
.buttonDisabled{
  width: 50%;
  height: 60px;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-size: 19px;
  background-color: #363232;
  opacity:0.8;
  color: #f0f0f0;
  border: none;
  padding: 12px;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .addButton{
    font-size: 16px;
    width: 75%;
    margin-left: 82px;
  }
  .buttonDisabled{
    font-size: 16px;
    width: 75%;
    margin-left: 82px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 765px) {
  .addButton{
    font-size: 13px;
    width: 100%;
  }
  .buttonDisabled{
    font-size: 13px;
    width: 100%;
  }
}
