.navbar {
  width: 81.5%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  margin-top: 40px;
}
.links {
  display: flex;
  font-size: 19px;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}
.title {
  font-size: 40px;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  color: #363232;
  text-decoration: none;

}
.link, .cart{
 padding: 12px;
 color: #363232;
 text-decoration: none;
}
.cartButton{
  color: #363232;
  text-decoration: none;
  display: flex;
  font-size: 19px;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    width: 81.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .links{
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
  }
  .title{
    font-size: 32px;
  }
  .cartButton{
    font-size: 16px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 765px) {
  .navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .links{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    margin-left: 8px;
  }
  .title{
    font-size: 28px;
    margin-left: 0px;
    margin-right: 12px;
  }
  .cartButton{
    font-size: 12px;
  }
  .link,.cart{
    padding-left: 4px;
  }
}
